[0;1;31m×[0m fire_detection_backend.service - Fire Detection Backend Service
     Loaded: loaded (]8;;file://ubuntu-4gb-fsn1-2/etc/systemd/system/fire_detection_backend.service/etc/systemd/system/fire_detection_backend.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Sun 2025-02-09 17:01:42 UTC; 14s ago
   Duration: 9ms
    Process: 9282 ExecStart=/var/www/fire_detection_backend/venv/bin/gunicorn --workers 1 --bind 0.0.0.0:5000 wsgi:app # تنظیمات Gunicorn [0;1;31m(code=exited, status=217/USER)[0m
   Main PID: 9282 (code=exited, status=217/USER)
        CPU: 8ms

Feb 09 17:01:42 ubuntu-4gb-fsn1-2 systemd[1]: fire_detection_backend.service: Scheduled restart job, restart counter is at 5.
Feb 09 17:01:42 ubuntu-4gb-fsn1-2 systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mfire_detection_backend.service: Start request repeated too quickly.[0m
Feb 09 17:01:42 ubuntu-4gb-fsn1-2 systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mfire_detection_backend.service: Failed with result 'exit-code'.[0m
Feb 09 17:01:42 ubuntu-4gb-fsn1-2 systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start fire_detection_backend.service - Fire Detection Backend Service.[0m
